a{
    color: black;
    text-decoration: none;
}

.pink-background{
    background-color: hotpink;
}

p{
    background-color: greenyellow;
}

#my-name{
    color: white;
    background-color: plum;
    padding: 10px;
}